!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="icon" type="image/png" href="favicon.png")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %title Povodeň - Kontakty
  %body

    %ul#navbar
      %li.logo &nbsp;
      %li <a href='index.html'>Voda</a>
      %li <a href='doprava.html'>Doprava</a>
      %li <a href='pomoc.html'>Nabídky pomoci</a>
      %li.active <a href='kontakty.html'>Kontakty</a>

    .content

      %ul#kontakty
        %li <b>Povodňová infolinka</b>:<br/>1234 nebo 800 123 003
        %li <b>Informace o MHD</b>:<br/>296 191 817
        %li <b>Povodí Vltavy</b>:<br/>221 401 495
