!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="icon" type="image/png" href="favicon.png")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %title Povodne - Nabídky pomoci
  %body

    %ul#navbar
      %li.logo &nbsp;
      %li <a href='index.html'>Voda</a>
      %li <a href='doprava.html'>Doprava</a>
      %li.active <a href='pomoc.html'>Nabídky pomoci</a>

    .content

      %ul#pomocnici
        %li <a href="https://docs.google.com/forms/d/1L6JZ5wx89NRAPUDRJec6aK0ydwdiEvCXSFPpoAauTlw/viewform">JUNÁK - Svaz skautů a skautek ČR</a>
        %li <a href="http://www.mamjob.cz/povodne/index?page=dobraci">Dobrovolníci MamJob.cz Povodně</a>
